#reviews {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    padding-top:100px;
}

#selectedReview {
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.loadingMessage {
    font-size: 20pt;
    color:white;
}

#homeLink {
    margin:20px;
    font-size:20pt;
    color:white;
    text-decoration:none;
    }

#homeLink:hover{
    font-size:20pt;
    color:red;
    text-decoration:none;
    }

#reviewFilter {
    background-color:rgb(91, 103, 155);
    border-bottom:5px solid white;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:80vw;
    align-items:center;
    justify-content: center;
    position:fixed;
    top:0;
    width:100vw;
}

#selectSorting {
    display:flex;
    font-size: 14pt;
    height:50%;
    align-self:center;
}

#reviewFilterCategory {
    font-size: 14pt;
    height:50%;
    align-self:center;
}

.filterSelecter {
    text-align:center;
    font-size:12pt;
    margin:5px;
}

.reviewCard {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(255, 250, 242);
    font-size: 10pt;
    border:3px solid rgb(134, 111, 111);
    margin:10px;
    min-height:280px;
    max-width:90vw;
    width:480px;
}

.reviewCardHead {
    background-color:rgba(0,0,0,0.1);
    display:flex;
    justify-content: space-between;
    border:2px solid rgb(94, 94, 117);
    margin:5px;
}

.reviewCardHead > ul {
    text-align: left;
    list-style:none;
    padding-top:5px;
    padding-left:15px;
}

.reviewCardHead > img {
    height:80px;
    width:80px;
    margin:5px;
}

.reviewCardBody {
    margin:0px 20px;
}

#moreReview {
    font-weight:bold;
}

.reviewCardFooter {
    background-color:rgba(0,0,0,0.1);
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
    border:2px solid rgb(94, 94, 117);
    margin:5px;
}

.reviewCardLabel {
    font-weight:bold;
}

.footerInfo > p {
    margin:5px;
}

#VoteCounter > p {
    font-weight: bold;
    margin:5px 0 0 0;
}

#voteChanger {
    display:flex;
    align-items:center;
    font-weight:normal;
}

#voteChanger > button{
    font-size:16pt;
    width:50px;
    height:30px;
    margin:0px 10px;
    border-radius: 20px;
    border:2px solid grey;
}

#upVoteButton:hover{
    background-color:rgb(12, 204, 12);
    border:2px solid green;
}

#upVoteButton:disabled{
    background-color:rgb(12, 204, 12);
    border:2px solid green;
}

#downVoteButton:hover{
    background-color:red;
    border:2px solid rgb(151, 0, 0);
}

#downVoteButton:disabled{
    background-color:red;
    border:2px solid rgb(151, 0, 0);
}
