#reviews {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    padding-top:100px;
}

#selectedReview {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
}

.loadingMessage {
    font-size: 20pt;
    color:white;
}

#homeLink {
    margin:20px;
    font-size:20pt;
    color:white;
    text-decoration:none;
    }

#homeLink:hover{
    font-size:20pt;
    color:red;
    text-decoration:none;
    }

#reviewFilter {
    background-color:rgb(91, 103, 155);
    border-bottom:5px solid white;
    height:80px;
    display:flex;
    justify-content: center;
    position:fixed;
    top:0;
    width:100vw;
}

#reviewFilterSelecter {
    font-size: 14pt;
    height:50%;
    align-self:center;
}

#reviewFilterSelecter > select{
    text-align:center;
    font-size:12pt;
    margin:10px;
}

.reviewCard {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(255, 250, 242);
    font-size: 10pt;
    border:3px solid rgb(134, 111, 111);
    margin:10px;
    min-height:280px;
    width:480px;
}

.reviewCardHead {
    background-color:rgba(0,0,0,0.1);
    display:flex;
    justify-content: space-between;
    border:2px solid rgb(94, 94, 117);
    margin:5px;
}

.reviewCardHead > ul {
    text-align: left;
    list-style:none;
    padding-top:5px;
    padding-left:15px;
}

.reviewCardHead > img {
    height:80px;
    width:80px;
    margin:5px;
}

.reviewCardBody {
    margin:0px 20px;
}

.reviewCardFooter {
    background-color:rgba(0,0,0,0.1);
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border:2px solid rgb(94, 94, 117);
    margin:5px;
}

.reviewCardLabel {
    font-weight:bold;
}

.footerInfo > p {
    margin:5px;
}
