#reviews {
    display:flex;
    flex-direction:column;
    background-color:rgb(187, 187, 235);
}

.reviewCard {
    font-size: 10pt;
    border:3px solid green;
    margin:10px;
    width:480px;
}

.reviewCardHead {
    display:flex;
    justify-content: space-between;
    border:3px solid blue;
    margin:5px;
}

.reviewCardHead > ul {
    text-align: left;
    list-style:none;
    padding-left:10px;
}

.reviewCardHead > img{
    max-height:100px;
    max-width:100px;
    border-left:3px solid blue;
}

.reviewCardBody {

}

.reviewCardFooter {
    display:flex;
    justify-content: space-evenly;
    border:3px solid blue;
    margin:5px;
}

.reviewCardFooter p{
    margin:5px;
}

.reviewCardLabel {
    font-weight:bold;
}
